@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text{
   font-size: 72px;
  background: -webkit-linear-gradient(#00DBDE, #FC00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textlogged{
  background: -webkit-linear-gradient(#00DBDE, #FC00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
tbody tr:nth-child(2n+1){
  background: linear-gradient(to right, #00DBDE, #FC00FF);
  color: white;
}
tbody tr:nth-child(2n){
  background: linear-gradient(to right, #FC00FF, #00DBDE);
  color: white;
}